# Laravel & PHP
/vendor
/node_modules
/public/storage
/storage/*.key

# Environment & config
.env
.env.backup
.env.example.local

# Debug & logs
npm-debug.log
yarn-error.log
pnpm-debug.log
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

# System files
.DS_Store
Thumbs.db
.idea
.vscode